@code {
	[Parameter] public string Label { get; set; } = default!;
	[Parameter] public bool Value { get; set; }

	[Parameter] public EventCallback<bool> ValueChanged { get; set; }

	private async Task HandleChange(ChangeEventArgs args) {
		Value = Convert.ToBoolean(args.Value);
		await ValueChanged.InvokeAsync(Value);
	}
}

<div>
	<label>@Label:</label>
	<br />
	<input type="checkbox" checked="@Value" @oninput="HandleChange" />
	<br />
</div>
