@code {
	[Parameter] public string Label { get; set; } = default!;
	[Parameter] public int Value { get; set; }
	[Parameter] public int Min { get; set; }
	[Parameter] public int Max { get; set; }

	[Parameter] public EventCallback<int> ValueChanged { get; set; }
}

<div style="width: 30%">
	<MudSlider Value=@Value ValueChanged=@ValueChanged min=@Min max=@Max>
		@Label
	</MudSlider>
</div>
