@code {
	[Parameter] public string Label { get; set; } = default!;
	[Parameter] public int Value { get; set; }
	[Parameter] public int Min { get; set; }
	[Parameter] public int Max { get; set; }

	[Parameter] public EventCallback<int> ValueChanged { get; set; }

	private async Task HandleChange(ChangeEventArgs args) {
		Value = Convert.ToInt32((string?)args.Value);
		await ValueChanged.InvokeAsync(Value);
	}
}

<div>
	<label>@Label: @Value</label>
	<br />
	<input type="range" min="@Min" max="@Max" value="@Value" @oninput="HandleChange" />
	<br />
</div>
