@code {
	[Parameter] public string label { get; set; } = default!;
	[Parameter] public bool value { get; set; }

	[Parameter] public EventCallback<bool> valueChanged { get; set; }

	private async Task handleChange(ChangeEventArgs args) {
		value = Convert.ToBoolean(args.Value);
		await valueChanged.InvokeAsync(value);
	}
}

<div>
	<label>@label:</label>
	<br />
	<input type="checkbox" checked="@value" @oninput="handleChange" />
	<br />
</div>
